<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
  </head>

  <style>
    body {
      padding: 0 20rem;
    }

    todoList {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50vh;
    }

    table {
      width: 100%;
    }

    table,
    th,
    tr,
    td {
      border: 1px solid black;
    }

    #loading {
      width: 50px;
      height: 50px;
    }

    .deleteButton {
      color: red;
    }
  </style>

  <body>
    <h1>To Do List</h1>
    <form action="" hx-post="https://calm-plum-jaguar-tutu.cyclic.app/todos" id="addTodo" hx-swap="none" hx-target="#loadTodo">
      <label for="todoName">Todo Name</label>
      <input type="text" name="todoName" />
      <label for="isComplete">Is Complete</label>
      <input type="checkbox" name="isComplete" />
      <button type="submit">Add</button>
    </form>

    <div hx-ext="client-side-templates">
      <div id="loadTodo" hx-get="https://calm-plum-jaguar-tutu.cyclic.app/todos" hx-swap="outerHTML" hx-target="#content" hx-trigger="load, from:body" mustache-template="todoTable"></div>

      <table>
            <thead>
                <tr>
                    <th>To do name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="content">
                
            </tbody>
        </table>
    </table>
      
    <template id="todoTable">
              {{#data}}
              <tr>
                  <td>{{ todoName }}</td>            
                  <td>{{ isComplete }}</td>            
                  <td>
                    <button hx-delete="https://calm-plum-jaguar-tutu.cyclic.app/todos/{{_id}}" hx-swap="none" hx-target="#loadTodo">Delete</button>
                  </td>
              </tr>
                {{/data}}
      </template>
    </div>
  </body>
</html>
